form {
    border: 3px solid #f1f1f1;
	margin:1% auto;
	width:800px;
}
.searchcontainer {
	display:block;
    text-align: center;
    margin: 24px 0 12px 0;
}
.searchcontainer input[type=text]{
	display:block;
    /* background-color: #4CAF50; */
    padding: 14px 20px;
    margin: 3% auto;
    width: 50%;
}