/* body { */
/* 	background: url("../photos/tel1.jpg") no-repeat center center fixed; */
/* 	background-size: cover; */
/* 	font-size: 16px; */
/* 	font-family: 'Lato', sans-serif; */
/* 	font-weight: 300; */
/* 	margin: 0; */
/* 	color: #666; */
/* } */
#banner{
  overflow: hidden;
  text-align: center;
  background:url("../photos/tel1.jpg") no-repeat center center fixed;
  background-size: cover;
}
